.contactform{
    border: 2px solid rgb(81, 0, 255);
    width: 35%;
    height: 250px;
    margin-top: 10%;
    padding-top: 10px;
    background-color: rgb(89, 14, 143);
    color: aliceblue;
   
}
input[type="text"],[type="email"],[type="submit"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
   
}